VITE_API_URL=https://screama6.students.nomorepartiesco.ru/api/afisha
VITE_CDN_URL=https://screama6.students.nomorepartiesco.ru/content/afisha
#VITE_API_URL=http://localhost:3000/api/afisha   #для локального просмтора
#VITE_CDN_URL=http://localhost:3000/content/afisha  #для локального просмотра